<form method="post" action="/login/">
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" name="email" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" name="password" class="form-control" required>
    </div>
{#    <div class="mb-3 form-check">#}
{#        <input type="checkbox" class="form-check-input">#}
{#        <label class="form-check-label" for="exampleCheck1">Check me out</label>#}
{#    </div>#}
    <button type="submit" class="btn btn-primary">Sign in</button> or <a href="/register">Register</a>
</form>